<h1>Admin Index</h1>

<!-- New Post Here -->
<%= link_to "New Post", admin_new_post_path %>
<br>
<br>

<!-- Editable posts -->
<div class="row">
	<% @posts.each do |post| %>
		<% if post.author == username(current_admin.email) %>
			<%= render 'posts/post', post: post %>
		<% end %>
	<% end %>
</div>