<div class="col-md-4 col-sm-6">
	<div class="post-container">
		<a href=<%= show_post_path(id: post.id) %>>
			<p class="text-center"><%= post.title %></p>
		</a>
		<p class="text-center">by: <%= post.author %></p>
		<p><%= shorten_body(post.body.html_safe) %></p>
	</div>
</div>
