<div class="col-md-4 col-sm-6">
	<a class="post-link" href=<%= show_post_path(id: post.id) %>>
		<div class="post-container">
			<p class="text-center"><%= post.title %></p>
			<p class="text-center">by: <%= post.author %></p>
			<p><%= shorten_body(post.body.html_safe).html_safe %></p>
		</div>
	</a>
</div>
