<h1>Home Page</h1>
<br>

<p><%= render 'show', post: @featured_post, edit: false %></p>
<br>

<% @posts.each do |post| %>
	<%= render 'show', post: post, edit: false %>
	<br>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate %>
</div>