/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.comment-container {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
}

.comment-none {
	margin: 0 0 0 -17px;
	padding: 0 0 0 7px;
}

.comment-blue {
	margin: 0 0 0 -17px;
	padding: 0 0 0 5px;
	border-style: solid;
	border-radius: 0;
	border-width: 0 0 0 2px;
	border-color: blue;
}

.comment-yellow {
	margin: 0 0 0 -17px;
	padding: 0 0 0 5px;
	border-style: solid;
	border-radius: 0;
	border-width: 0 0 0 2px;
	border-color: green;
}

.comment-red {
	margin: 0 0 0 -17px;
	padding: 0 0 0 5px;
	border-style: solid;
	border-radius: 0;
	border-width: 0 0 0 2px;
	border-color: red;
}

